*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: azoBlack;
    src: url('../../fonts/AzoSans-Black.otf');
}

.conteudo-destino{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text p{
    text-align: center;
    color: #17d6ba;
}

.text h2{
    color: #fff;
    font-family: azoBlack;
}

.options{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.option{
    width: 220px;
    border-radius: 15px;
    background-color: #1D1C1D;
}

.option img{
    width: 220px;
    height: 140px;
    border-radius: 15px 15px 0 0;
}

.option a svg{
    color: #17d6ba;
    width: 15px;
    height: 15px;
}

.text-destino{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.text-destino p{
    color: #fff;
}

.text-destino span{
    color: #b1b1b1;
    margin: 15px 0;
}

.text-destino a{
    color: #17d6ba;
    text-decoration: none;
}
