*{
    text-decoration: none;
}

@font-face {
    font-family: azoRegular;
    src: url('../../fonts/AzoSans-Regular.otf');
}

.header{
    display: flex;
    justify-content: center;
    background-color: #353535;
}

.header .topo{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.logo img{
    width: 80px;
}

.menu nav{
    display: flex;
    list-style: none;
}

.menu nav li{
    margin-left: 30px;
}

.menu nav li a{
    position: relative;
    font-family: azoRegular;
    font-size: 15px;
    padding: 10px 0;
    color: #b1b1b1;
    text-decoration: none;
}

.menu nav li a::after{ 
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: #17d6ba;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in;
}

.menu nav li a:hover{
    color: #17d6ba;
}

.menu nav li a:hover::after{
    width: 100%;
    transition: .4s ease-in;
}

.header .button-nav a{
    font-family: azoRegular;
    border: 2px solid #17d6ba;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 20px;
    color: #17d6ba;
    transition: .3s ease-in;
}

.header .button-nav a:hover{
    background-color: #17d6ba;
    color: #353535;
}