@media (max-width: 1180px){
    form{
        flex-direction: column;
    }

    form label{
        width: 30%;
    }

    form div{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
    form input{
        width: 70%;
    }
}