@media (max-width: 1260px){
    form input{
        width: 200px;
    }

    form button{
        width: 200px;
        color: #ff0000;
    }

    .feedback{
        align-items: center;
        flex-direction: column;
    }

    .feedback .text-feedback{
        width: 75%;
    }

    .feedback .person-coments{
        width: 75%;
        margin-top: 20px;
    }
}