*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: azoBlack;
    src: url('../../fonts/AzoSans-Black.otf');
}

.slide-infor{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 80px 0;
}

.left-side{
    width: 500px;
    margin-right: 10px;
}

.right-side{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.right-side p{
    color: #17d6ba;
}

.right-side h2{
    font-size: 28px;
    font-family: azoBlack;
    color: #fff;
}

.right-side span{
    color: #b1b1b1;
}