@font-face {
    font-family: azoBlack;
    src: url('../../fonts/AzoSans-Black.otf');
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background-image: url("../../images/img-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.text-banner{
    width: 80%;
    text-align: center;
}

.text-banner h2{
    font-size: 60px;
    font-family: azoRegular;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
}

.text-banner h1{
    font-size: 70px;
    font-family: azoBlack;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
}

.text-banner p{
    color: #fff;
    font-family: azoRegular;
}

.button-menu{
   margin-top: 25px;
}

.button-menu a{
    font-family: azoRegular;
    font-size: 15px;
    color: #17d6ba;
    border: 2px solid #17d6ba;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    transition: .3s ease-in;
    text-decoration: none;
}

.button-menu a:hover{
    background-color: #17d6ba;
    color: #000;
}